:root {
    --bg-color: #ededed;
    --outer-shadow: 3px 3px 3px #fff,
        -3px -3px 3px #ceced1;
    --inner-shadow: inset 3px 3px 3px #fff,
        inset -3px -3px 3px #ceced1;
    --color: olive;
    --active-color: rgb(145, 19, 2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Kalameh;
}

body {
    direction: rtl;
    background-color: var(--bg-color);
    /* background-image: ; */
    /* background-repeat: no-repeat; */
}

.message {
    margin-top: 2rem;
}

.message i {
    font-size: 2rem;
    cursor: pointer;
    float: right;
    cursor: var(--color)
}

header {
    background-color: var(--bg-color);
    position: sticky;
    padding: 1rem;
    top: 0;
    box-shadow: 0 1.5px 5px rgba(32, 32, 32, 0.2);
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-weight: bold;
    color: var(-color);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 18px
}

.navbar li {
    cursor: pointer;
}

a {
    color: var(--color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    margin: 0 .4rem;
}

.navbar li:hover a {
    color: var(--active-color);
}

.cart span {
    position: absolute;
    width: 19px;
    height: 19px;
    line-height: 22px;
    display: block;
    text-align: center;
    top: 6px;
    left: 25px;
    font-size: 12px;
    margin: .2rem .2rem .2rem .3rem;
    border-radius: 50%;
    background-color: var(--color);
    color: #fff;
}

h3 {
    margin: 1rem auto;
    color: var(--color);
    text-align: center;
}

.form {
    width: clamp(350px, 66vw, 500px);
    margin: auto;
    padding-top: 20px;
}

input,
select {
    width: 100%;
    border: 1px solid currentColor;
    border-radius: 5px;
    padding: 1rem;
    margin: .5rem 0;
    outline-color: var(--active-color);
    color: var(--color);
    background-color: transparent;
}

input::placeholder {
    color: inherit;
    opacity: .68;
}

input:not([type="submit"]):hover {
    background-color: #fff;
}

.submit-button {
    background-color: var(--color);
    color: #fff;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 20px;
}

.submit-button:hover {
    background-color: rgb(90, 90, 0);
}

.option-btn {
    color: var(--color);
}

.add {
    width: 40px;
    height: 40px;
    display: block;
    margin: 1rem;
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--color);
    font-size: 30px;
    line-height: 41px;
}

.show-product {
    margin: 0 auto;
    overflow: auto;
}

.show-product .product-table {
    width: max-content;
    min-width: 670px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}

.show-product .product-table td {
    padding: 1rem;
    font-size: 1rem;
    margin: .5rem 0;
}

.show-product .product-table th {
    color: var(--color);
    padding: .5rem 0;
    margin: 1.5rem 0;
}

.show-product .product-table :is(th, td) {
    border: 1px solid #222;
    box-shadow: 0 0 3px rgba(34, 34, 34, 0.151);
}

.product-image {
    width: 150px;
    aspect-ratio: 16 / 9;
    border-radius: 4px;
    object-fit: cover;
}

.empty,
.message {
    max-width: 100px;
    text-align: center;
    color: var(--color);
    background-color: #000;
    word-spacing: 3px;
    margin: 2rem auto;
    padding: 1rem 0;
    border-radius: 5px;
}

.delete-btn {
    color: #cc1d1d;
}

.edit-form {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--bg-color);
    /* background-image: ; */
    background-repeat: no-repeat;
    padding: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 10;
}

.edit-form form {
    width: 50vw;
    padding: 3rem;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #222;
}

/* .edit-form form img {
    width: 150px;
    border-radius: 50%;
} */

.update,
.edit-form .cancel {
    width: 24%;
    margin-left: .3rem;
    cursor: pointer;
}

.submit-button.update {
    padding: 1rem;
    font-size: 1rem;
}